@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap');

body {
    background-image: linear-gradient(to left, burlywood, rgb(159, 171, 182));
}

.border {
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px 65% ;
    display: flex;
    height: 95vh;
    width: 90%;
    margin: auto;
    background-image: linear-gradient(to right, rgba(100, 200, 200, 100), rgb(173, 151, 151), purple);
}

.body {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    border-radius: 3rem;
    background-image: linear-gradient(to right, rgba(180, 226, 107, 0.404), white);
    width: 90%;
    margin:  auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar p {
   font-family: 'Dancing Script', cursive;
   font-size: 20px;
   font-weight: 700;

}

ul {
    width: 50%;
    justify-content: space-evenly;
    display: flex;
    list-style: none;
}

li {
    font-weight: 500;
}

.ull li a {
    text-decoration: none;
    color: black;
}

.ull a:hover{
    text-decoration-line: overline;
    text-decoration-color: burlywood;
}

li:hover{
    color: purple;
    font-size: 20px;
    text-decoration-line: overline;
    text-decoration-color: burlywood;
    cursor: pointer;
}

.next {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.hi, .hi2 {
    width: 60%;
}

.next img {
    border-radius: 35px;
}

.secnd {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.under {
    padding-bottom: 10px;
    border-bottom: 5px solid purple;
}

.und {
    width: 70%;
}

.und1 {
    width: 30%;
}

span {
    border: 2px solid burlywood;
    margin-right: 20px;
    padding: 2px;
}

.skill {
    line-height: 35px;
}